<form action="{{ path('add_record', {id: song.id}) }}"
      class="dropzone"
      id="file-dropzone"
      enctype="multipart/form-data">
</form>
<div hidden class="d-none" id="dropzone_placeholder_template">
    <div class="text-center display-1">
        <span class="icon icon-upload"></span>
    </div>
    <div class="text-center display-4">
        Cliquez ou glissez vos fichiers audio ici pour ajouter de nouveaux enregistrements
    </div>
</div>

