<div class="song amplitude-song-container amplitude-play-pause"
     data-amplitude-song-index="{{ key ?? "" }}">
    <div class="amplitude-song-flex">
        <div class="song-now-playing-icon-container">
            <div class="play-button-container">
                <div class="play-button">
                    <span class="icon icon-play"></span>
                    <span class="icon icon-pause"></span>
                </div>
            </div>
        </div>
        <div class="song-meta-data">
            <span class="song-title">{{ record.name }}</span>
            <div class="text-muted">
                {{ record.recordedAt|format_datetime('medium', 'short', locale='fr') }}
            </div>
        </div>
    </div>
</div>

