{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block body %}
    <span id="song-identifier" data-song-id="{{ song.id }}" class="d-none" hidden></span>
    <div class="container">
        <div class="flex-center-box py-3">
            <h1 class="display-1">{{ song.name }}</h1>
        </div>
        <div class="py-3">
            <a href="#dropzone" class="d-block d-xl-none btn btn-outline-success">Ajouter des enregistrements</a>
        </div>
        <div class="row">
            <div class="player-mobile-fixed col-xl-6 border-xl-right">
                <div class="flex-center-box">
                    {% include '_partials/_audio-player.html.twig' %}
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="flex-center-box">
                    <div id="records_list">
                        {% include 'record/_partials/_listing.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 mt-5" id="dropzone">
            {% include 'record/_partials/_dropzone.html.twig' %}
        </div>
    </div>




{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('audioPlayer') }}
{% endblock %}
